Howdy! You have been invited to wordle golf!  Please go to the following URL:

= login_users_url(user_id: user.id, login_key: user.login_key)
This URL is your unique password. You need to click on it once to log in. After that you should be able to just go right to https://wgolf.etherized.com directly. If you are ever logged out, use the original link again.

Every day, copy your wordle result and copy it into the form you find there. Depending on your phone, you might need to tap "share" once you finish the worlde, and then can probably select "copy text."

If you have any questions, let me know!
Jeremy
jeremy.thornhill@gmail.com

